{{ $url := .Params.editURL | default (.Site.Params.article.editURL | default "") }}
{{ $mainSections := .Site.Params.mainSections | default slice }}
{{ $isPost := or (eq (len $mainSections) 0) (in $mainSections .Section) }}
{{ if and $isPost $url .File }}
  {{ if .Params.editAppendPath | default (.Site.Params.article.editAppendPath | default false) }}
    {{ $slash := "" }}
    {{ if ne (substr $url -1 1) "/" }}
      {{ $slash = "/" }}
    {{ end }}
    {{ $url = printf "%s%s%s" $url $slash (path.Join .File.Path) }}
  {{ end }}
  <div class="pt-8 text-base text-neutral-500 dark:text-neutral-400">
    <hr class="border-dotted border-neutral-300 dark:border-neutral-600" />
    <p class="pt-8">
      Did I make a mistake? Please consider
      <a
        class="text-primary-600 hover:underline hover:decoration-primary-500 dark:text-primary-400"
        href="{{ $url }}"
        rel="noopener noreferrer"
        target="_blank"
        >sending a pull request</a
      >.
    </p>
  </div>
{{ end }}
