/* Slate scheme */
:root {
  --color-neutral: 255, 255, 255;
  /* Gray */
  --color-neutral-50: 249, 250, 251;
  --color-neutral-100: 243, 244, 246;
  --color-neutral-200: 229, 231, 235;
  --color-neutral-300: 209, 213, 219;
  --color-neutral-400: 156, 163, 175;
  --color-neutral-500: 107, 114, 128;
  --color-neutral-600: 75, 85, 99;
  --color-neutral-700: 55, 65, 81;
  --color-neutral-800: 31, 41, 55;
  --color-neutral-900: 17, 24, 39;
  --color-neutral-950: 17, 24, 39;
  /* Blue */
  --color-primary-50: 239, 246, 255;
  --color-primary-100: 219, 234, 254;
  --color-primary-200: 191, 219, 254;
  --color-primary-300: 147, 197, 253;
  --color-primary-400: 96, 165, 250;
  --color-primary-500: 59, 130, 246;
  --color-primary-600: 37, 99, 235;
  --color-primary-700: 29, 78, 216;
  --color-primary-800: 30, 64, 175;
  --color-primary-900: 30, 58, 138;
  --color-primary-950: 23, 37, 8;
  /* Gray */
  --color-secondary-50: 249, 250, 251;
  --color-secondary-100: 243, 244, 246;
  --color-secondary-200: 229, 231, 235;
  --color-secondary-300: 209, 213, 219;
  --color-secondary-400: 156, 163, 175;
  --color-secondary-500: 107, 114, 128;
  --color-secondary-600: 75, 85, 99;
  --color-secondary-700: 55, 65, 81;
  --color-secondary-800: 31, 41, 55;
  --color-secondary-900: 17, 24, 39;
  --color-secondary-950: 10, 10, 10;
}
